@tailwind base;
@tailwind components;
@tailwind utilities;

.anim {
  animation: l9 1s infinite;
  transform: perspective(300px) translateZ(0px);
}
@keyframes l9 {
  to {
    transform: perspective(300px) translateZ(100px);
    opacity: 0;
  }
}
